@import "~@blueprintjs/core";
@import "~@blueprintjs/core/lib/scss/variables";
@import "~@blueprintjs/select";

.compare-teams-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pitches_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.team-layout {
  display: flex;
  flex-direction: column;
  width: 40vw;
  justify-content: space-evenly;
  align-items: center;
  height: 72vh;
  border-radius: 10px;
  position: relative;
}

.team-layout::before {    
  content: "";
  background-image: url('./../resources/football-pitch-hire-bristol-min.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.45;
}

.position-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40vw;
  margin-top: 10px;
  margin-bottom: 10px;
}

.player-display {
  position: relative;
  font-size: medium;
  font-weight: bolder;
  text-align: center;
  color: rgb(210, 211, 210);
  padding: 1vh;
  width: fit-content;
  min-width: 15%;
}

.player-display-background-playing, .player-display-background-maybe-playing, .player-display-background-not-playing {
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10%;
  border: 4ex;
}

.player-display-background-playing {
  background-color: $gray5;
}

.player-display-background-maybe-playing {
  background-color: $orange5;
}

.player-display-background-not-playing {
  background-color: $red5;
}

.player-display-text, .player-display-name{
  display: flex;
  position: relative;
  color: $dark-gray1;
  height: 100%;
  width: 100%;  
}

.player-display-text {
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
}

.player-display-name {
  flex-direction: row;
  justify-content: center;
}

.display-captain {
  background-color: $cobalt1;
}

.display-vice-captain {
  background-color: $blue1;
}

.display-captain, .display-vice-captain {
  border-radius: 25%;
  color: $light-gray1;
  width: 20%;
  margin-left: 5%;
}

.player-display-divider {
  width: 80%;
}

.subs-divider-background {
  opacity: 0.4;
  position: relative;
  width: 95%;
  border-radius: 10%;
}

.subs-divider {
  width: 80%;
}

.team-stats {
  display: flex;
  flex-direction: row;
  height: 10%;
}

.stat-box {
  display: inherit;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: $gray1;
  border-radius: 5ex;
}

.stat-element {
  font-weight: bolder;
  width: 50%;
  font-size: large;
  text-align: center;
}

.stat-divider {
  height: 60%;
}

.selected-player-drawer {
  color: $light-gray1 !important;
}

.bp3-heading {
  color: $light-gray1 !important;
}

.bp3-drawer {
  background-color: $dark-gray4 !important;
}

.compare-players-button {
  margin: 1%;
  width: 20%
}

.compare-player-container {
  overflow-y: scroll;
  scrollbar-width: none;
}

.compare-player-details-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% auto;
  justify-content: center;
}

.compare-player-select {
  display: inline-grid;
  justify-items: center;
  align-items: center;
  grid-row: 1 / span 1;
  padding: 1vh;
}

.compare-player-details {
  grid-row: 2 / span 1;
  border-width: 2em;
  border: #8a9ba8;
  border-top-style: groove;
  border-left-style: groove;
  border-radius: 2em;
  width: 95%;
  margin-left: 2%;
  margin-right: 2%;
}

.compare-player-left {
  grid-column: 1 / span 1;
}

.compare-player-right {
  grid-column: 2 / span 1;
}