@import "~@blueprintjs/core";
@import "~@blueprintjs/core/lib/scss/variables";

.pitches_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.team-layout {
  display: flex;
  flex-direction: column;
  width: 40vw;
  justify-content: space-evenly;
  align-items: center;
  height: 72vh;
  border-radius: 10px;
  position: relative;
}

.team-layout::before {    
  content: "";
  background-image: url('./../resources/football-pitch-hire-bristol-min.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.45;
}

.position-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40vw;
  margin-top: 10px;
  margin-bottom: 10px;
}

.player-display {
  position: relative;
  font-size: medium;
  font-weight: bolder;
  text-align: center;
  color: rgb(210, 211, 210);
  padding: 1%;
  width: fit-content;
  min-width: 15%;
}

.player-display-background {
  opacity: 0.7;
  background-color: $gray5;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10%;
  border: 4ex;
}

.player-display-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: $dark-gray1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
}

.player-display-name {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  color: $dark-gray1;
  height: 100%;
  width: 100%; 
}

.display_captain {
  border-radius: 25%;
  background-color: $cobalt1;
  color: $light-gray1;
  width: 20%;
}

.display_vice_captain {
  border-radius: 50%;
}

.player-display-divider {
  width: 80%;
}

.subs-divider-background {
  opacity: 0.4;
  background-color: $gray5;
  position: relative;
  width: 95%;
  border-radius: 10%;
}

.subs-divider {
  width: 80%;
}

.team-stats {
  display: flex;
  flex-direction: row;
  height: 10%;
}

.stat-box {
  display: inherit;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: $gray1;
  border-radius: 5ex;
}

.stat-element {
  font-weight: bolder;
  width: 50%;
  font-size: large;
  text-align: center;
}

.stat-divider {
  height: 60%;
}

