@import "~@blueprintjs/core";
@import "~@blueprintjs/core/lib/scss/variables";


.list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 60vh;
  overflow: auto;
  width: 80vw;
}

.list-element {
  padding-top: 1vw;
  padding-left: 1vw;
}

.overview-tabs {
  display: flex;
  flex-direction: column;
}

.overview-tabs-tab {
  border-radius: 5%;
  border-color: $light-gray1;
}

.graph-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center ;
}

.graph-non-ideal-state {
  padding: 10vh;
}

.custom-tooltip {
  padding: 10px;
  background-color: $dark-gray3;
  border: 1px solid #c3c3c3;
  border-radius: 10px;  span {
    font-weight: bold;
  }
}