@import "~@blueprintjs/core";
@import '~@blueprintjs/table';
@import "~@blueprintjs/select";

.tab-title {
  display: flex;
  width: 20vw;
  justify-content: flex-start;
  align-items: center;
}

.tab-dropdown-container {
  display: flex;
  width: 60vw;
  align-content: flex-start;
}