@import "~@blueprintjs/core";
@import "~@blueprintjs/select";

.dropdown-container {
  display: flex;
  width: 90vw;
  justify-content: flex-end;
  margin: 2vw;
}

.dropdown {
  padding-top: 2vh;
  padding-right: 2vh;
  padding-left: 2vh;
}

.tab-title {
  display: flex;
  width: 25vw;
  justify-content: flex-start;
  align-items: center;
}

.title-control {
  display: flex;
  flex-direction: row;
}

.stats-card {
  display: flex;
  width: 15vw;
  align-items: center;
  flex-direction: column;
  margin-left: 1vw;
  margin-right: 1vw;
}

.stats-container {
  display: flex;
}

.body-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tab-container {
  padding: 20px;
  width: 100%;
}

.player-analysis-tabs {
  display: flex;
  flex-direction: row;
}